{% extends "esqueleto.html" %}

{% block contenido %}
    <header class="jumbotron my-4">
        <h2 class="display-3">Dar de alta un juego nuevo</h2>
    </header>

    <div class="container">
        <div class="row">
            <form id="formAddVideojuego"
                method="post"
                action="/videojuego/nuevo"
                  enctype="multipart/form-data"
                onsubmit="return check()"
                role="form" class="col-md-9 go-right">

                <div class="form-group">
                    <label for="addTitulo">Titulo</label>
                    <input type="text" id="addTitulo" name="addTitulo" class="form-control"/>
                </div>

                 <div class="form-group">
                    <label for="addSinopsis">Sinopsis</label>
                    <textarea id="addSinopsis" name="addSinopsis" rows="2" cols="60" class="form-control"></textarea>
                 </div>

                <div class="form-group">
                    <label for="addGenero">Género del videojuego</label>
                    <select id="addGenero" name="addGenero" class="form-control">
                        <option value="Accion">Accion</option>
                        <option value="Estrategia">Estrategia</option>
                        <option value="Plataformas">Plataformas</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="addPegi">Código PEGI</label>
                    <select id="addPegi" name="addPegi" class="form-control">
                        <option value="3">PEGI 3</option>
                        <option value="7">PEGI 7</option>
                        <option value="12">PEGI 12</option>
                        <option value="16">PEGI 16</option>
                        <option value="18">PEGI 18</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="addCaratula">Caratula</label>
                    <input type="file" id="addCaratula" name="addCaratula" class="form-control"/>
                </div>

            <input type="submit" value="Enviar" class="btn btn-primary btn-lg">
        </form>
        </div>
    </div>

<script>
        function check(){
            const titulo = document.getElementById("addTitulo");
            const sinopsis = document.getElementById("addSinopsis");
            const genero = document.getElementById("addGenero");
            const pegi = document.getElementById("addPegi");
            const caratula = document.getElementById("addCaratula");

            return ( titulo.nodeValue.trim().length >0
                && sinopsis.nodeValue.trim().length >0
                && genero.nodeValue.trim().length >0
                && pegi.nodeValue > 0
                && caratula.nodeValue.length > 0)
        }
</script>

{% endblock %}