
<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
        <img class="card-img-top" src="data:image/png;base64,{{videojuego.caratula.encode('base64')}}"/>

        <div class="card-body">
            <h4 class="card-title">{{videojuego.titulo}}</h4>
            <p class="card-text">{{videojuego.sinopsis}}</p>
            <p>{{videojuego.categoria}}</p>
            <p>PEGI {{videojuego.pegi}}</p>

            {% if videojuego.usr_email == user.email %}
            <a href="/videojuego/elimina?id={{videojuego.key.urlsafe()}}" class="btn btn-primary">
                <i class="fas fa-trash-alt"></i>
            </a>
            <a href="/videojuego/modifica?id={{videojuego.key.urlsafe()}}" class="btn btn-danger">
                <i class="fas fa-pencil-alt"></i>
            </a>
            {% endif %}

            {% if juegos_key_list|length > 0 %}
                    {% if videojuego.key.urlsafe() in juegos_key_list %}
                        <a href="/like/modifica?id={{videojuego.key.urlsafe()}}" class="btn btn-danger">Quitar FAV</a>
                    {% else %}
                        <a href="/like/modifica?id={{videojuego.key.urlsafe()}}" class="btn btn-success">Dar FAV</a>
                    {% endif %}
                </form>
            {% else %}
                <a href="/like/modifica?id={{videojuego.key.urlsafe()}}" class="btn btn-success">Dar FAV</a>

            {% endif %}

        </div>

    </div>
</div>